# Exclusive Folders #
/languages/**

# Folders #
**/bin/**
**/uploads/**

# Compiled source #
*.vmcompiled.*
*.mo

# Binaries #
*.jpg
*.JPG
*.png
*.PNG
*.ttf
*.eot
*.woff
*.woff2
*.otf
*.svg
*.gif

# Packages #
*.tar
*.zip
*.7z
*.rar
*.gzip
